body{
    margin:0px ;
    background-color: rgb(233, 238, 238);
}
.tab{
    margin-top:100px;
    margin-left: 150px;
}
table{
    border: 1px solid black;
    width: 1000px;
    height: 400px;
}
th{
    border-bottom: 1px solid black;
    text-align: center;
}
td{
    border-bottom: 1px solid black;
    text-align: center;
}
p{
    text-align: center;
}